<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Pesan Tempat Parkir</title>
</head>
<body>
    <h1>Sistem Pemesanan Tempat Parkir</h1>
    <form action="/pesan_parkir" method="post">
        <label for="nomor_petak">Nomor Petak Parkir:</label>
        <input type="number" id="nomor_petak" name="nomor_petak" min="1" max="{{ posList }}" required>
        <button type="submit">Pesan</button>
    </form>
    <div class="pesan">
        {% if pesan %}
            {{ pesan | safe }}
            <br>
            <a href="{{ url_for('reset_parking') }}">Reset Pesanan</a>
        {% endif %}
    </div>
    <main>
        <h3>Parkiran 1</h3>
        <div class="video-container">
          <img src="{{ url_for('video_feed') }}" width="1920" height="1080" alt="Live Video Stream" />
        </div>
    </main>
    <main>
        <h3>Parkiran 2</h3>
        <div class="video-container">
          <img src="{{ url_for('video_feed1') }}" width="1920" height="1080" alt="Live Video Stream" />
        </div>
    </main>
</body>
</html>
